<!--Store Modal -->
<div class="modal fade" id="storeModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="storeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="storeLabel">Thiết Lập Cửa Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between gap-3">
                    <input type="text" id="storeId" value="" hidden />
                    <div class="col">
                        <div class="mb-3">
                            <label for="storeName" class="col-form-label">Tên cửa hàng</label>
                            <input type="text" class="form-control" id="storeName" value="" placeholder="">
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <label for="storeAddress" class="col-form-labe mr-2 pt-1">Địa chỉ</label>
                                <input type="text" class="form-control" id="storeAddress" value="" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="storePhone" class="col-form-labe mr-2 pt-1">Điện thoại liên hệ</label>
                                <input type="number" class="form-control" id="storePhone" value="" placeholder="">
                            </div>
                            <div class="mb-3">

                                <label for="storeTimeOpen" class="col-form-labe mr-2 pt-1">Thời gian mở cửa</label>
                                <input type="time" class="form-control" id="storeTimeOpen" value="" placeholder="">
                            </div>

                            <div class ="mb-3">
                                <label for="storeTimeClose" class="col-form-labe mr-2 pt-1">Thời gian đóng cửa</label>
                                <input type="time" class="form-control" id="storeTimeClose" value="" placeholder="">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="storeNote" class="col-form-labe">Ghi chú</label>
                            <textarea class="form-control" id="storeNote" value="" rows="3" style="height: 150px"></textarea>
                        </div>
                    </div>

                </div>                
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="submit" type="button" class="btn btn-primary" onclick="StoreModalBtn()">Lưu</button>
            </div>
        </div>
    </div>
</div>