@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="bg-gradient-primary">

    <div class="container " style="height: 100vh">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            @* <div class="col-lg-6 d-none d-lg-block bg-login-image"> *@
                        </div>
                        <div class="col">
                            <div class="p-5">

                                <h1>@ViewData["Title"]</h1>

                                <h2>Enter your email.</h2>
                                <form method="post">
                                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3">
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
